<!-- 

<div class="container mx-auto p-20 pt-0 pl-3">
<div class="bg-transparent rounded-lg p-2 pt-0">
  <div class="flex items-center justify-center min-h-screen p-2">
    <div class="bg-gray-800 p-10 rounded-lg shadow-lg w-full max-w-md">
      <h2 class="text-2xl font-bold mb-6 text-center text-white uppercase">Registrar</h2>
      <form [formGroup]="formularioUsuario" (ngSubmit)="registrarUsuario()">
        <div class="mb-4">
            <label for="nombreCompleto" class="block text-sm font-medium mb-2  text-white"> Nombre Completo</label>
            <input id="nombre" formControlName="nombreCompleto" class="w-full px-3 py-2 bg-gray-700 text-white rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
        </div>
        <div class="mb-4">
          <label for="" class="block text-sm font-medium mb-2  text-white">Correo Electrónico</label>
          <input type="email" id="email" formControlName="correo" class="w-full px-3 py-2 bg-gray-700 text-white rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
        </div>
        <div class="mb-4">
            <label for="" class="block text-sm font-medium mb-2  text-white">Cédula</label>
            <input id="cedula" formControlName="cedula" class="w-full px-3 py-2 bg-gray-700 text-white rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
        </div>
        <div class="mb-4 relative">
          <label for="password" class="block text-sm font-medium mb-2  text-white">Contraseña</label>
          <input [type]="ocultarPassword ? 'password' : 'text'" id="password" formControlName="clave" class="w-full px-3 py-2 bg-gray-700 text-white rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
          <button type="button" (click)="togglePasswordVisibility()" class="absolute inset-y-0 right-0 px-3 py-2 text-gray-400 hover:text-gray-200 focus:outline-none">
            <mat-icon>{{ ocultarPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </div>
        <div class="flex flex-row gap-4"> 
        <button type="button" routerLink="/login" class="w-60 py-2 bg-blue-600 hover:bg-blue-700 rounded-lg text-white font-bold">Iniciar Sesión</button> 
        <button type="submit" class="w-60 py-2 bg-blue-600 hover:bg-blue-700 rounded-lg text-white font-bold">Registrar</button></div>
      </form>
    </div>
  </div>
</div>
</div>
 -->
